* {
  margin: 0;
  padding: 0; 
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: rgb(227, 199, 195);
}
#click-btn{
  padding: 7px 13px; 
  border-radius: 20px;
  cursor: pointer;  
  font-size: 27px;
  font-weight: bold;
  background-color: rgb(189, 116, 105); 
  border-style: none; 
  color: #ffff; 
  transition: background-color 0.4s;
}

#click-btn:hover{
  background-color: #ffff; 
  color: rgb(189, 116, 105); 
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#grid-option-container{
  display: flex;
  justify-content: center; 
  height: auto;
}

.sketchpad {
  display: flex; 
  margin: 100px auto; 
  background-color: #fff; 
  flex-wrap: wrap;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.15);  
}

.gridSquare{
  border: 1px solid rgb(207, 205, 205);
  cursor: pointer;  
}
 


