* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

body{
  font-family: Arial, Helvetica, sans-serif; 
}
button{
  padding: 5px 10px; 
  border-radius: 10px;
  cursor: pointer;  
  /* add a hover effect */ 
}
#click-btn{
  margin-left: 5px;
  margin-right: 5px;
}

#reset-btn{
/* add hover effect + add padding to input box + add a 
transition to hover effect*/ 
}

#project-container{
  display: flex; 
  flex-direction: column; 
  border: 3px solid red; 
  min-height: 100vh;
  justify-content: space-evenly;
}

#grid-option-container{
  border: 3px solid purple;
  display: flex;
  justify-content: center; 
}

#grid-container {
  font-size: 10px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  border: 2px solid black; 
}

.row {
  border: 1px solid rgb(0, 0, 0);
}
/* might append row into a div then
append that div to grid container. considering
doing this to create a box for everything to 
stay in. might be able to use flexbox 
for that*/ 

.column{
  
}

