* {
  margin: 0;
  padding: 0; 
}

body{
  font-family: Arial, Helvetica, sans-serif; 
  background-color: rgb(227, 199, 195);
}
button{
  padding: 5px 10px; 
  border-radius: 10px;
  cursor: pointer;  
  font-size: 20px;
  /* add a hover effect */ 
}
#click-btn{
  margin-right: 20px;
}

#reset-btn{
/* add hover effect + add padding to input box + add a 
transition to hover effect*/ 
}


#grid-option-container{
  display: flex;
  justify-content: center; 
  height: auto;
}

.sketchpad {
  display: flex; 
  margin: 100px auto; 
  background-color: #fff; 
  flex-wrap: wrap;
}

.gridSquare{
  border: 1px solid rgb(207, 205, 205);
  cursor: pointer;  
}
 


